#content {
  margin-top: 70px;
}

#sp-footer {
    border-top: 1px solid #ddd;
    color: #666;
    margin-top: 100px;
    padding-bottom: 30px;
    padding-top: 40px;
}

#sp-footer p {
    margin-bottom: 0;
}

.valign-middle td {
    vertical-align: middle !important;
}

#id_models {
    list-style: none;
    padding: 0;
}

.podcast-info {
    margin-bottom: 20px;
}

.podcast-info .podcast-image {
    width: 100%;
    margin-top: 40px;
}

.podcast-info .podcast-buttons {
    margin-top: 20px;
}

.podcast-info .media-controller {
    margin-top: 5px;
}

.table a {
  text-decoration: none;
}

.table a:hover {
  text-decoration: underline;
}
