{# https://github.com/pennersr/django-allauth/blob/master/allauth/templates/account/login.html #}
{% extends 'account/base.html' %}

{% load i18n %}
{% load widget_tweaks %}
{% load title %}

{% block title %}{% title 'Sign in' %}{% endblock %}

{% block content %}
  <div class="page-header">
    <h1>{% trans 'Sign in' %}</h1>
  </div>

  {% if socialaccount.providers %}
    <p>{% blocktrans with site.name as site_name %}Please sign in with one
    of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
    for a {{site_name}} account and sign in below:{% endblocktrans %}</p>

    <div class="socialaccount_ballot">

      <ul class="socialaccount_providers">
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
      </ul>

      <div class="login-or">{% trans 'or' %}</div>

    </div>

    {% include "socialaccount/snippets/login_extra.html" %}

    {% else %}
    <p>{% blocktrans %}If you have not created an account yet, then please
    <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
  {% endif %}

  <form class="form-horizontal" method="post" action="{% url 'account_login' %}">
    {% csrf_token %}
    {% if form.non_field_errors %}
      <div class="alert alert-danger">
        Error:
        <ul>
          {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    {% for field in form %}
      <div class="form-group{% if field.errors %} has-error{% endif %}">
        <label for="id_{{ field.name }}" class="col-sm-2 control-label">{{ field.label }}</label>
        <div class="col-sm-5">
          {% if field.name != 'remember' %}
            {{ field|add_class:"form-control" }}
          {% else %}
            {{ field }}
          {% endif %}
        </div>
        {% if field.errors %}
          <div id="{{ field.name}}_errors" class="col-sm-5 help-block">
            {% for error in field.errors %}
              <i class="fa fa-exclamation fa-fw"></i> {{ error }}{% if not forloop.last %}<br>{% endif %}
            {% endfor %}
          </div>
        {% endif %}
      </div>
    {% endfor %}
    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-2">
        <a class="btn btn-link" href="{% url 'account_reset_password' %}">{% trans 'Forgot Password?' %}</a>
        <button class="btn btn-primary" type="submit">{% trans 'Sign in' %}</button>
      </div>
    </div>
  </form>
{% endblock %}