{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
  <div class="page-header">
    <h1>Add a podcast to the site <small>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</small></h1>
  </div>

  <form action="" method="post" class="form-horizontal">
    {% csrf_token %}
    <fieldset>
      {{ form.non_field_errors }}
      {{ wizard.management_form }}
      {% for field in wizard.form %}
        <div class="form-group{% if field.errors %} has-error{% endif %}">
          <label for="id_{{ field.name }}" class="col-sm-2 control-label">{{ field.label }}</label>
          <div class="col-sm-5">
            {% if field.name != 'visible_email' %}
              {{ field|add_class:"form-control" }}
            {% else %}
              {{ field }}
            {% endif %}
          </div>
          {% if field.errors %}
            <div id="{{ field.name}}_errors" class="col-sm-5 help-block">
              {% for error in field.errors %}
                <i class="fa fa-exclamation fa-fw"></i> {{ error }}{% if not forloop.last %}<br>{% endif %}
              {% endfor %}
            </div>
          {% endif %}
        </div>
      {% endfor %}
      <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
          <button class="btn btn-primary" type="submit">Save changes</button>
        </div>
      </div>
      {% if wizard.steps.prev %}
        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
              <button name="wizard_goto_step" class="btn btn-danger" type="submit" value="{{ wizard.steps.prev }}">Go back to previous step</button>
          </div>
        </div>
      {% endif %}
    </fieldset>
  </form>
{% endblock %}
