{% load inside %}
<tr>
  {% with listened=user.podcasts_profile|inside:episode.listeners.all %}
    {% if listened %}
      <td><span class="label label-default">Listened</span></td>
    {% else %}
      <td><span class="label label-success">Unlistened</span></td>
    {% endif %}
    <td><a href="{% url 'podcasts:podcast' episode.podcast.pk %}">{{ episode.podcast.title }}</a></td>
    <td><a href="{% url 'podcasts:episode' episode.pk %}">{{ episode.title }}</a></td>
    <td class="text-right">
      {% if episode.link %}
        <a href="{{ episode.audio_file }}" class="btn btn-primary btn-xs js-open" target="_blank" title="Open media file" data-episode-id="{{ episode.pk }}"><i class="fa fa-external-link fa-lg fa-fw"></i></a>
        <button class="btn btn-primary btn-xs js-play" title="Play" data-episode-id="{{ episode.id }}" data-episode-title="{{ episode.title }}" data-audio-file="{{ episode.audio_file }}"><i class="fa fa-play fa-lg fa-fw"></i></button>
        {% if user.is_authenticated %}
          <div class="btn-group">
            <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-cogs fa-lg fa-fw"></i> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-left" role="menu">
              {% if listened %}
                <li><a class="js-remove-listened-mark" data-episode-id="{{ episode.id }}">Mark as unlistened</a></li>
              {% else %}
                <li><a class="js-mark-as-listened" data-episode-id="{{ episode.id }}">Mark as listened</a></li>
              {% endif %}
            </ul>
          </div>
        {% endif %}
      {% endif %}
    </td>
    <td class="text-right">{{ episode.published|date }}</td>
  {% endwith %}
</tr>
