{% load inside %}

<tr>
  {% with listened=episode|inside:listened_episodes %}
    {% if user.is_authenticated %}
      {% if listened %}
        <td><span class="label label-default">Listened</span></td>
      {% else %}
        <td><span class="label label-success">Unlistened</span></td>
      {% endif %}
    {% endif %}

    {% if show_podcast %}
      <td><a href="{{ episode.podcast.get_absolute_url }}">{{ episode.podcast.title }}</a></td>
    {% endif %}

    <td><a href="{{ episode.get_absolute_url }}">{{ episode.title }}</a></td>

    <td class="text-right">
      {% if episode.link %}
        {% include 'podcasts/includes/button-open.html' with show_text=False %}
        {% include 'podcasts/includes/button-play.html' with show_text=False %}
        {% if user.is_authenticated %}
          {% include 'podcasts/includes/button-options.html' with show_text=False %}
        {% endif %}
      {% endif %}
    </td>

    <td class="text-right">{{ episode.published|date }}</td>
  {% endwith %}
</tr>
