{% extends 'base.html' %}

{% block content %}
  <h2>{{ episode.podcast.title }}</h2>
  <table class="table table-bordered">
    <tr>
      <td>Title</td>
      <td>{{ object.title }}</td>
    </tr>
    <tr>
      <td>Link</td>
      <td><a href="{{ object.link }}">{{ object.link }}</a></td>
    </tr>
    <tr>
      <td>Description</td>
      <td>{{ object.description|safe }}</td>
    </tr>
    <tr>
      <td>Published</td>
      <td>{{ object.published|date }}</td>
    </tr>
  </table>
{% endblock %}
