{% include 'podcasts/modal-player.html' %}

{% with listened_episodes=user.podcasts_profile.listened_to.all %}
  {% for episode in episodes %}
    {% if user.is_authenticated %}
      {% include 'podcasts/episode-row-signed-in.html' with user=user podcasts_profile=podcasts_profile episode=episode show_podcast=show_podcast %}
    {% else %}
      {% include 'podcasts/episode-row.html' with user=user podcasts_profile=podcasts_profile episode=episode show_podcast=show_podcast %}
    {% endif %}
  {% endfor %}
{% endwith %}