{% extends 'base.html' %}
{% load staticfiles %}

{% block script %}
  {% if user.is_authenticated %}
    <script src="{% static 'js/podcasts/get-cookie.js' %}"></script>
    <script src="{% static 'js/podcasts/episode-actions.js' %}"></script>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="page-header">
    <h1>Your podcast episode feed<br><small>With the latest from the podcasts you are subscribed to</small></h1>
  </div>

  {% include 'podcasts/modal-player.html' %}

  {% if object_list %}
    <table class="table table-striped">
      <thead>
      <tr>
        <th></th>
        <th>Podcast</th>
        <th>Episode</th>
        <th></th>
        <th class="text-right">Published</th>
      </tr>
      </thead>
      {% include 'podcasts/episode-tbody.html' with user=user episode=episode %}
    </table>
  {% else %}
    <p>There are no new episodes available from the podcasts you are subscribed to. But here is an idea: visit the <a href="{% url 'podcasts:podcasts' %}">podcast library</a> and see if you can find something new to subscribe to.</p>
  {% endif %}

{% endblock %}
