{% extends 'base.html' %}

{% block content %}
  <div class="page-header">
    <h1>Your podcast episode feed<br><small>With the latest from the podcasts you are subscribed to</small></h1>
  </div>
  {% if object_list %}
    <table class="table table-striped">
      <thead>
      <tr>
        <th></th>
        <th>Podcast</th>
        <th>Episode</th>
        <th></th>
        <th class="text-right">Published</th>
      </tr>
      </thead>
      <tbody>
        {% for episode in object_list %}
          <tr>
            {% if forloop.counter|divisibleby:3 %}
              <td><span class="label label-success">Unlistened</span></td>
            {% else %}
              <td><span class="label label-default">Listened</span></td>
            {% endif %}
            <td><a href="{% url 'podcasts:podcast' episode.podcast.pk %}">{{ episode.podcast.title }}</a></td>
            <td><a href="{% url 'podcasts:episode' episode.podcast.pk episode.pk %}">{{ episode.title }}</a></td>
            <td class="text-right">
              {% if episode.link %}<a href="{{ episode.link }}"><i class="fa fa-globe fa-fw"></i></a>{% endif %}
              {% if episode.audio_file %}<a href="{{ episode.audio_file }}" target="_blank" title="Play in a new tab"><i class="fa fa-play fa-fw"></i></a>{% endif %}
            </td>
            <td class="text-right">{{ episode.published|date }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>There are no new episodes available from the podcasts you are subscribed to. But here is an idea: visit the <a href="{% url 'podcasts:podcasts' %}">podcast library</a> and see if you can find something new to subscribe to.</p>
  {% endif %}
{% endblock %}