<div class="modal fade" id="modalPlayer" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <audio class="player" controls>
          <source>
          Sorry, the audio format can't be played.
        </audio>
      </div>
    </div>
  </div>
</div>