{% extends 'base.html' %}
{% load staticfiles %}

{% block script %}
  <script src="{% static 'js/podcasts/get-cookie.js' %}"></script>
  <script src="{% static 'js/podcasts/episode-actions.js' %}"></script>
  {% if user.is_authenticated %}
    <script src="{% static 'js/podcasts/subscribe.js' %}"></script>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="row podcast-info">
    <div class="col-sm-3">
      <img src="{{ podcast.image_or_not_found }}" class="podcast-image">
    </div>
    <div class="col-sm-9">
      <div class="page-header">
        <h1>{{ podcast.title }}{% if podcast.description != "" %} <small>{{ podcast.description }}</small>{% endif %}</h1>
      </div>

      <div class="row">
        <div class="col-xs-2">
          Language:
        </div>
        <div class="col-xs-10">
          {{ podcast.get_language }}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-2">
          Categories:
        </div>
        <div class="col-xs-10">
          {% for category in podcast.categories.all %}
            <a href="{{ category.get_absolute_url }}">{{ category }}</a>{% if not forloop.last %}, {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-2">
          Tags:
        </div>
        <div class="col-xs-10">
          {% for tag in podcast.tags.all %}
            {{ tag }}{% if not forloop.last %}, {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="row podcast-buttons">
        <div class="col-xs-12">
          {% if user.is_authenticated %}
            {% if subscribed %}
              <button type="button" class="btn btn-default btn-sm js-subscribe">Unsubscribe</button>
            {% else %}
              <button type="button" class="btn btn-primary btn-sm js-subscribe">Subscribe</button>
            {% endif %}
          {% endif %}
        </div>
      </div>

    </div>
  </div>

  {% include 'podcasts/episode-table.html' with user=user episodes=object_list show_podcast=False %}

{% endblock %}
