{% extends 'base.html' %}

{% block content %}
  <div class="page-header">
    <h1>{{ podcast.title }}{% if podcast.description != "" %} <small>{{ podcast.description }}</small>{% endif %}</h1>
  </div>
  {% if subscribed %}
    <button type="button" class="btn btn-default btn-sm">Unsubscribe</button>
  {% else %}
    <button type="button" class="btn btn-primary btn-sm">Subscribe</button>
  {% endif %}
  <hr>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th></th>
        <th>Published</th>
      </tr>
      </thead>
      <tbody>
      {% for episode in object_list %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td><a href="{% url 'podcasts:episode' podcast=episode.podcast.pk episode=episode.pk %}">{{ episode.title }}</a></td>
          <td><a href="{{ episode.link }}"><i class="fa fa-globe"></i></a></td>
          <td>{{ episode.published | date }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
