{% extends 'base.html' %}

{% block content %}
  <div class="page-header">
    <h1>Podcast library</h1>
  </div>
  <p>Not finding what you are looking for? Click <a href="#">here</a> and instantly add the podcast feed to the site by yourself.</p>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Title</th>
    </tr>
    </thead>
    <tbody>
    {% for podcast in object_list %}
      <tr>
        <td>
          <a href="{% url 'podcasts:podcast' podcast.pk %}">{{ podcast.title }} {{ podcast.link }}</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}