{% extends 'base.html' %}

{% block content %}
  <div class="page-header">
    <h1>About</h1>
  </div>
  <p>I'm a big podcast junkie and this aggregator is built to fill my own needs, which are:</p>
  <ul>
    <li>Work cross-platform (Linux, Firefox OS, Android, etc).</li>
    <li>Personal feed that clearly displays the latest episodes and marks what has been listened to.</li>
    <li>Requires low resources, i.e. small amount of JavaScript.</li>
    <li>Little cruft and easy to use. No flashy JavaScript animations that would run poorly and load slowly on mobile.</li>
    <li>Easy to leave, with RSS compatible export.</li>
  </ul>
  <p>If you also love podcasts, please do yourself a service and sign up by clicking <a href="{% url 'account_signup' %}">here</a>. It's completely free.</p>
  <div class="page-header">
    <h1>Donate</h1>
  </div>
  <p><i class="fa fa-bitcoin fa-2x pull-left fa-border"></i> The hosting of the site costs 5 USD per month and the domain name costs about 15 USD per year, i.e. about 75 USD per year in total. This is payed from my own pocket. But if you want to help or just want to show your appreciation, feel free to make a Bitcoin donation to the address below.</p>
  <p><a href="https://blockexplorer.com/address/1NnP9d9Vgx9DxV8RRKukKXfhBzyNMFKLUh">1NnP9d9Vgx9DxV8RRKukKXfhBzyNMFKLUh</a></p>
{% endblock %}
